@charset 'UFT-8';
@use './var.scss';

.el-drawer {
  padding: 40px;
  background-color: var(--o-drawer-bg);

  .el-drawer__header {
    padding: 0;
    margin-bottom: 24px;
  }

  .el-drawer__body {
    padding: 0;
    font-size: var(--o-drawer-font_size);
    line-height: var(--o-drawer-line_height);
    color: var(--o-drawer-color);
  }

  .el-drawer__footer {
    padding: 0;
    margin-top: 24px;
  }
}
