.el-drawer {
  --o-drawer-bg: var(--o-color-bg2);

  --o-drawer-font_size: var(--o-font_size-text);
  --o-drawer-color: var(--o-color-text1);

  --o-drawer-line_height: var(--o-line_height-text);
  // header
  --o-drawer-header-font_size: var(--o-font_size-h4);
  --o-drawer-header-line_height: var(--o-line_height-h4);
}
