@charset 'UFT-8';
@use './var.scss';

.el-dialog {
  color: var(--o-dialog-color);
  background-color: var(--o-dialog-bg);
  border-radius: 0;
  box-shadow: var(--o-dialog-shadow);
  animation: o-dialog-wrap-show 0.3s ease-in-out;
}
