.el-breadcrumb {
  --o-breadcrumb-color: var(--o-color-text3);
  --o-breadcrumb-color-hover: var(--o-color-primary1);
  --o-breadcrumb-font_size: var(--o-font_size-tip1);
  --o-breadcrumb-line_height: var(--o-line_height-tip1);
  //icon
  --o-breadcrumb-icon-font_size: var(--o-icon_size-xs);
  //current
  --o-breadcrumb-current-color: var(--o-color-text1);
}
