.el-table {
  //hearder

  --el-table-header-color: var(--o-color-text1);
  --el-table-color: var(--o-color-text3);

  --o-table-font_size: var(--o-font_size-text);
  --o-table-line_height: var(--o-line_height-text);
  --o-table-shadow: var(--o-shadow-1);

  --o-table-header-bg: var(--o-color-bg4);

  --o-table-border-color: var(--o-color-border2);
  --o-table-row-bg-hover: var(--o-color-bg3);
}
