.el-card {
  --o-card-color: var(--o-color-text1);
  --o-card-bg: var(--o-color-bg2);
  --o-card-shadow: var(--o-shadow-1);
  --o-card-division-color: var(--o-color-division1);
  --o-card-bg-hover: var(--o-shadow-2);
  //card-body
  --o-card-body-font_size: var(--o-font_size-text);
  --o-card-body-line_height: var(--o-line_height-text);
}
